flask
gunicorn
opencv-python-headless
numpy
facexlib
gfpgan

# Install basicsr from GitHub (fixes the build error)
basicsr @ git+https://github.com/XPixelGroup/BasicSR.git

# PyTorch CPU version (lighter for Render free plan)
torch
torchvision
torchaudio